.header{
    background-color: rgb(207, 171, 240);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo{
display: inline-block;
color: #212121;
font-size: 2rem;
margin-left: 10px;
font-weight: bold;
}
.side-menu{
display: none;
}
.side-menu :checked ~ nav{
    max-height: 100%;
}
.side-menu :checked ~ .hamb .hamb-line ::before{
    transform: rotate(-45deg);
    top: 0;
}
.side-menu :checked ~ .hamb .hamb-line ::after{
    transform: rotate(45deg);
    top: 0;
}

.hamb{
cursor: pointer;
float: right;
padding: 20px 20px;
}
.hamb-line{
background-color: aliceblue;
display: block;
height: 2px;
position: relative;
width: 25px;
}
.hamb-line ::before
.hamb-line ::after{
    background-color: aliceblue;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line ::before{
    top: 5px;
}
.hamb-line ::after{
    top: -5px;
}
.nav{
height: 100%;
position: fixed;
background-color: black;
overflow: hidden;
max-height: 0;
transition: max-height .5s ease-out;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu a{
    display: block;
    padding: 25px;
    color: aliceblue;
    transition: all 0.3s ease-in-out;

}
.menu a:hover{
    background-color: antiquewhite;
    color: #212121;
}
@media (min-width: 768px){
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        width: fit-content;
        background-color: transparent;
    }
}